.sidebar {
  border: 1px solid black;
  flex: 0.5;
  position: relative;
  border-radius: 5px;
  padding: 30px;
  background-color: #fff;
  margin-right: 10px;
}
.sidebar__list {
  margin-top: 30px;
  font-size: 1.6em;
}
ul li {
  list-style-type: none;
  padding: 10px;
}
.list__item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6vh;
  font-size: 16px;
  cursor: pointer;
}
.list__item:hover {
  color: red;
}
button:disabled {
  background-color: #49a1ff;
  cursor: not-allowed;
}
.item__btn {
  background: rgb(214, 214, 221);
  width: fit-content;
  padding: 6px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
.item__btn:focus {
  outline: none;
  border: none;
}
.error {
  position: absolute;
  top: 40%;
  left: 35%;
}
@media(max-width:576px){
    .sidebar{
       margin-bottom: 1.1em;
       margin-left: 0;
       margin-right: 0;
    }

}
